body {
    background: white;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, white, white);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, white, white);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-register {
    background-color: white;
    border-radius: 5px;
    width: 550px;
    /* margin: 400px auto; */
    padding: 20px;
    /* height: 600px; */
    margin-top: 56px;
    margin-left: 379px;
    margin-bottom: 53px;
    border: black 1px solid;
}

.form-body-register {
    text-align: left;

}

.form-body>* {
    padding: 5px;
}

.form__label {
    width: 40%;
}

.form_input {
    width: 60%;
}

.footer-btn {
    text-align: center;
}

/* src/components/ExpenseItem.css */


.user-item {
    display: flex;
    justify-content: space-between;


    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    margin-right: 15px;
    margin-left: 15px;
}