/* src/components/ExpenseItem.css */


.expense-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;


    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.expense-date {
    flex: 1;
}




.expense-description {
    flex: 2;
}

.expense-category {
    flex: 2;
}

.expense-amount {
    flex: 1;
    text-align: right;
}


/* App.css */
.App {
    font-family: Arial, sans-serif;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}